<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"  xmlns:shiro="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/semantic.min.css" th:href="@{../../../static/css/semantic.min.css}">
    <link rel="stylesheet" href="../../static/css/typo.css" th:href="@{../../../static/css/typo.css}">
    <link rel="stylesheet" href="../../static/tocbot/tocbot.css" th:href="@{../../../static/tocbot/tocbot.css}">
    <link rel="stylesheet" href="../../static/css/my.css" th:href="@{../../../static/css/my.css}">
    <title>帖子详情</title>
</head>
<body onload="addArticleBrowseVolume()">
<!--导航-->
<nav class="ui attached segment m-padded-tb-mini m-shadow-small">
    <div class="ui container">
        <div class="ui menu secondary stackable">
            <h2 class="ui violet header item"><i class="user secret icon"></i>管理后台</h2>
            <a href="adminForums.html" th:href="@{/admin/index}" class="active m-item item m-mobile-hide"><i
                    class="mini home icon"></i>帖子</a>
            <a href="adminTypes.html" th:href="@{/admin/types}" class="m-item item m-mobile-hide"><i
                    class="mini microphone icon"></i>话题</a>
            <a href="adminTags.html" th:href="@{/admin/tags}" class="m-item item m-mobile-hide"><i
                    class="mini tags icon"></i>标签</a>
            <a href="adminAuthor.html" th:href="@{/admin/authors}" class="m-item item m-mobile-hide"><i
                    class="mini user icon"></i>作者</a>
            <div class="right m-item m-mobile-hide menu" th:if="${user}">
                <div class="ui item">
                    <div class="text">
                        <span style="color: blueviolet">管理员：<span th:text="${user.nick_name}">李文博</span></span>
                        <img class="ui avatar image" th:src="'../'+${user.user_avatar}" src="https://picsum.photos/id/1033/100/100">
                        <span style="margin-left: 5px"><a href="/admin/logout">注销</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="ui menu toggle icon violet basic button m-right-top m-mobile-show"><i class="sidebar icon"></i></a>
</nav>
<!--中间内容-->
<div id="waypoint" class="m-container-small m-padded-tb-big">
    <div class="ui container">
        <div class="ui top attached segment">
            <!--头部-->
            <div class="ui horizontal link list">
                <div class="item">
                    <img src="https://picsum.photos/id/1033/100/100" alt="" th:src="'../'+${articleDto.user_avatar}"
                         class="ui avatar image">
                    <div class="content">
                        <div class="header">
                            <a href="#" th:href="'/user/author_details/'+${articleDto.user_id}"
                               th:text="${articleDto.author_name}">李文博</a></div>
                    </div>
                </div>
                <div class="item">
                    <i class="calendar icon"></i><span th:text="${articleDto.create_time}">2019-10-02</span>
                </div>
                <div class="item">
                    <i class="eye icon"></i>
                    <span id="browse_volume" th:text="${articleDto.browse_volume}">2333</span>
                </div>
                <div class="item">
                    <i class="thumbs up outline icon"></i>
                    <span id="approval_num_top" th:text="${articleDto.approval_num}">10</span>
                </div>
                <div class="item">
                    <i class="thumbs down outline icon"></i>
                    <span id="trample_num_top" th:text="${articleDto.trample_num}">1</span>
                </div>
            </div>
        </div>
        <div class="ui attached segment">
            <!--图片区域-->
            <img src="https://picsum.photos/id/1033/800/450" width="800px" height="450px"
                 th:src="'../'+${articleDto.first_picture}" alt=""
                 class="ui rounded fluid image">
        </div>
        <div class="ui attached padded segment">
            <!--内容-->
            <div class="ui right aligned basic segment">
                <a th:href="'/type/findArticleByTypeId/'+${articleDto.type_id}"
                   class="ui violet label basic" th:text="${articleDto.type_name}">经典例题</a>
            </div>
            <h2 class="ui center aligned header" th:text="${articleDto.title}">几米经典语录</h2>
            <br>
            <div id="content" class="typo typo-selection js-toc-content m-padded-lr-responsive m-padded-tb-large"
                 th:utext="${articleDto.content}">
                <p>1.在这个熟悉而陌生的城市中，无助地寻找一个陌生而熟悉的身影。</p>
                <p>2.但是冬天总是会过去，春天总是会来。</p>
                <p>3.心情无缘无故的低落，对自己的孤单，感到有些莫名的哀伤。</p>
                <p>4.那年的冬天特别寒冷，整个城市笼罩在阴湿的雨里，灰蒙蒙的天空迟迟不见阳光，让人感到莫名的沮丧，常常走在街上，就有一种落泪的冲动……</p>
            </div>
            <!--标签-->
            <div class="m-padded-lr-responsive">
                <div class="ui basic violet left pointing label" th:each="tag : ${tagList}">
                    <span th:text="${tag.tag_name}">Java</span>
                </div>
            </div>
        </div>
        <div class="ui attached segment" style="text-align: center">
            <label>点赞</label>
            <a href="javascript:publishAttitude(1)" id="thumbs_up" th:unless="${attitude}">
                <i id="icon_up" class="thumbs up outline icon large"></i>
            </a>
            <a href="javascript:publishAttitude(1)" th:id="thumbs_up" th:if="${attitude}">
                <i th:id="icon_up" class="thumbs up icon large" th:if="${attitude.attitude==1}"></i>
                <i th:id="icon_up" class="thumbs up outline icon large" th:unless="${attitude.attitude==1}"></i>
            </a>
            <label th:text="${articleDto.approval_num}" id="approval_num_bottom">2333</label>
            <label>点踩</label>
            <a href="javascript:publishAttitude(0)" id="thumbs_down" th:unless="${attitude}">
                <i id="icon_down" class="thumbs down outline icon large"></i>
            </a>
            <a href="javascript:publishAttitude(0)" th:id="thumbs_down" th:if="${attitude}">
                <i th:id="icon_down" class="thumbs down icon large" th:if="${attitude.attitude==0}"></i>
                <i th:id="icon_down" class="thumbs down outline icon large" th:unless="${attitude.attitude==0}"></i>
            </a>
            <label th:text="${articleDto.trample_num}" id="trample_num_bottom">2333</label>
        </div>
        <div class="ui attached positive message">
            <div class="ui middle aligned grid m-padded-lr-responsive">
                <ui class="list">
                    <li>作者：<a th:href="'/user/author_details/'+${articleDto.user_id}"
                              th:text="${articleDto.author_name}">李文博</a></li>
                    <li>发表时间：<span th:text="${articleDto.create_time}">2019-10-03</span></li>
                    <li>最后更新时间：<span th:text="${articleDto.update_time}">2019-10-03</span></li>
                </ui>
            </div>
        </div>
        <div class="ui bottom attached segment">
            <!--留言区域-->
            <div class="ui violet segment" id="comment-container">
                <h3 class="ui dividing header">评论</h3>
                <div class="ui threaded comments" th:each="commentDto : ${commentDtoList}">
                    <div class="comment">
                        <a class="avatar">
                            <img th:src="'../'+${commentDto.user_avatar}"
                                 src="https://picsum.photos/id/1033/100/100">
                        </a>
                        <div class="content">
                            <a class="author" style="color: deepskyblue" th:href="'/user/author_details/'+${commentDto.user_id}"
                               th:text="${commentDto.user_name}">Elliot Fu</a>
                            <div class="metadata">
                                <span class="date" th:text="${commentDto.create_time}">Yesterday at 12:30AM</span>
                            </div>
                            <div class="text">
                                <p th:text="${commentDto.content}">
                                    This has been very useful for my research. Thanks as well!
                                </p>
                            </div>
                            <div class="actions">
                                <input type="hidden" th:value="${commentDto.user_name}" class="comment_nickname">
                                <input type="hidden" th:value="${commentDto.id}" class="comment_id">
                                <a class="reply" style="color: blueviolet;" onclick="changefunction(this)">回复</a>
                                <!--<a style="color: red;"-->
                                   <!--th:onclick="'javascript:deleteComment('+${commentDto.id}+');'">删除</a>-->
                                <a style="color: red;"
                                   th:onclick="'javascript:showDeleteCommentModal('+${commentDto.id}+');'">删除</a>
                            </div>
                        </div>
                        <span th:if="${commentDto.son_comment}">
                            <div class="comments" th:if="${#arrays.length(commentDto.son_comment)}>0">
                                <div class="comment" th:each="comment_son : ${commentDto.son_comment}">
                                    <a class="avatar">
                                        <img src="https://picsum.photos/id/1033/100/100"
                                             th:src="'../'+${comment_son.user_avatar}">
                                    </a>
                                    <div class="content">
                                        <a class="author" style="color: deepskyblue" th:href="'/user/author_details/'+${comment_son.user_id}"
                                           th:text="${comment_son.user_name}">Jenny Hess</a>
                                        <div class="metadata">
                                            <span class="date" th:text="${comment_son.create_time}">Just now</span>
                                        </div>
                                        <div class="text" th:text="${comment_son.content}">
                                            Elliot you are always so right :)
                                        </div>
                                        <div class="actions">
                                            <input type="hidden" th:value="${comment_son.user_name}" class="comment_nickname">
                                            <input type="hidden" th:value="${comment_son.id}" class="comment_id">
                                            <a class="reply" style="color: blueviolet;"
                                               onclick="changefunction(this)">回复</a>
                                            <!--<a style="color: red;"-->
                                               <!--th:onclick="'javascript:deleteComment('+${comment_son.id}+');'">删除</a>-->
                                            <a style="color: red;"
                                               th:onclick="'javascript:showDeleteCommentModal('+${comment_son.id}+');'">删除</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </span>
                    </div>
                </div>
            </div>
            <!--评论输入区域-->
            <div class="ui form">
                <div class="field">
                    <textarea name="content" id="comment_content" placeholder="请输入评论信息..."></textarea>
                </div>
                <div class="field  m-margin-bottom-small m-mobile-wide">
                    <button class="ui violet button m-mobile-wide" id="commitCommentBtn" onclick="commitComment(0)">
                        <i class="edit icon"></i>发布
                    </button>
                    <button class="ui red button m-mobile-wide"
                            th:onclick="'javascript:showDeleteModal('+${articleDto.id}+')'">删除该文章</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--删除的模态框-->
<div class="container">
    <div class="ui delete modal card tiny">
        <i class="close icon"></i>
        <div class="content">
            <h2>您确定要删除该文章吗？</h2>
        </div>
        <div class="extra content">
            <input type="hidden" id="article_id" value="">
            <div class="ui two buttons">
                <div class="ui violet affirm button" onclick="deleteArticle()">确定</div>
                <div class="ui red cancel button" onclick="hideDeleteModal()">取消</div>
            </div>
        </div>
    </div>
</div>

<!--删除评论的模态框-->
<div class="container">
    <div class="ui delete comment modal card tiny">
        <i class="close icon"></i>
        <div class="content">
            <h2>您确定要删除该评论及其子评论吗？</h2>
        </div>
        <div class="extra content">
            <input type="hidden" id="comment_id" value="">
            <div class="ui two buttons">
                <div class="ui violet affirm button" onclick="deleteComment()">确定</div>
                <div class="ui red cancel button" onclick="hideDeleteCommentModal()">取消</div>
            </div>
        </div>
    </div>
</div>


<!--右下角工具组-->
<div id="toolbar" class="m-padded m-fixed m-right-bottom" style="display: none">
    <div class="ui vertical icon buttons ">
        <button type="button" class="ui toc violet button" >目录</button>
        <a href="#comment-container" class="ui violet button" >评论</a>
        <!--<button class="ui wechat icon button"><i class="weixin icon"></i></button>-->
        <div id="toTop-button" class="ui icon button" ><i class="chevron up icon"></i></div>
    </div>
</div>
<!--生成的目录-->
<div class="ui toc-container flowing popup transition hidden" style="width: 300px!important;">
    <ol class="js-toc">
    </ol>
</div>

<!--底部-->
<footer class="ui attached segment">
    <div class="ui center aligned container">
        <p class="m-text-thin m-text-spaced m-opacity-tiny">Copyright ©2019-2020 @LiWenBo 版权所有</p>
    </div>
</footer>


<script type="text/javascript" src="../../static/js/jquery.min.js"
        th:src="@{../../../static/js/jquery.min.js}"></script>
<script src="../../static/js/semantic.min.js"
        th:src="@{../../../static/js/semantic.min.js}"></script>
<script src="../../static/waypoints/jquery.waypoints.min.js"
        th:src="@{../../../static/waypoints/jquery.waypoints.min.js}"></script>
<script src="../../static/scrollTo/jquery.scrollTo.min.js"
        th:src="@{../../../static/scrollTo/jquery.scrollTo.min.js}"></script>
<script src="../../static/tocbot/tocbot.min.js"
        th:src="@{../../../static/tocbot/tocbot.min.js}"></script>
<script>
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });
    $('.ui.dropdown').dropdown();
    $('.ui.login.violet.button').click(function () {
        $(".ui.login.modal").modal("setting", "closable", false);
        $(".ui.login.modal").modal("show");
    });
    function showDeleteModal(article_id) {
        $("#article_id").val(article_id);
        $(".ui.delete.modal").modal("setting", "closable", false);
        $(".ui.delete.modal").modal("show");
    }

    function hideDeleteModal() {
        $(".ui.delete.modal").modal("setting", "closable", true);
        $(".ui.delete.modal").modal("hide");
    }
    function deleteArticle() {
        var article_id = $("#article_id").val();
        $.ajax({
            url: '/admin/delArticle',
            data: {
                article_id: article_id
            },
            type: 'post',
            dataType: 'json',
            async: false,
            success: function (data) {
                hideDeleteModal();
                $("#tipMsgContent").text("");
                if (data.statusCode == 200) {
                    window.alert(data.msg);
                    window.location.reload();
                    // $("#tipMsgContent").text(data.msg);
                    // $("#tipMsg").removeClass("hidden");
                    // $("#tipMsg").addClass("info");
                } else {
                    $("#tipMsg").addClass("warning");
                    $("#tipMsgContent").text(data.msg);
                    $("#tipMsg").removeClass("hidden");
                }
            }
        });
    }

    /*初始化生成目录插件*/
    tocbot.init({
        tocSelector: '.js-toc',
        contentSelector: '.js-toc-content',
        headingSelector: 'h1, h2, h3',
        hasInnerContainers: true,
    });
    $('.toc.button').popup({
        popup: $('.toc-container.popup'),
        on: 'click',
        position: 'left center'
    });

    function addArticleBrowseVolume() {
        //浏览量更新函数
        var browse_volume = $('#browse_volume').html();
        var article_id = [[${articleDto.id}]];
        $.ajax({
            url: '/article/addArticleBrowseVolume',
            data: {
                article_id: article_id
            },
            type: 'post',
            dataType: 'json',
            async: false,
            success: function (data) {
                if (data.statusCode == 200) {
                    $('#browse_volume').html(Number(browse_volume) + 1);
                } else {
                    console.log("服务器错误")
                }
            }
        });
    }

    function publishAttitude(flag) {
        //更新点赞/点踩数
        var article_id = [[${articleDto.id}]];
        //查询当前用户是否登录  登录了判断是否对该文章发表过态度
        $.ajax({
            url: '/article/findArticleAttitude',
            type: 'post',
            async: false,
            data: {
                article_id: article_id
            },
            dataType: 'json',
            success: function (data) {
                if (data.statusCode == 200) {
                    //可以发表态度
                    if (flag == 1) {
                        //点赞
                        $("#icon_up").removeClass("outline");
                        //更新页面的点赞数
                        var approval_num_top = $('#approval_num_top').html();
                        var approval_num_bottom = $('#approval_num_bottom').html();
                        $('#approval_num_top').html(Number(approval_num_top) + 1);
                        $('#approval_num_bottom').html(Number(approval_num_bottom) + 1);
                    } else {
                        $("#icon_down").removeClass("outline");
                        //更新页面的点踩数
                        var trample_num_top = $('#trample_num_top').html();
                        var trample_num_bottom = $('#trample_num_bottom').html();
                        $('#trample_num_top').html(Number(trample_num_top) + 1);
                        $('#trample_num_bottom').html(Number(trample_num_bottom) + 1);
                    }
                    // console.log(flag);
                    $.ajax({
                        url: '/article/addArticleAttitude',
                        data: {
                            flag: flag,
                            article_id: article_id
                        },
                        type: 'post',
                        dataType: 'json',
                        async: false,
                        success: function (data) {
                            if (data.statusCode == 200) {
                                console.log("发表态度成功");
                            } else {
                                console.log("服务器出现异常");
                            }
                        }
                    });
                } else {
                    alert(data.msg);
                }
            }
        });

    }

    function commitComment(parent_comment_id) {
        var article_id = [[${articleDto.id}]];
        var content = $("#comment_content").val();
        $.ajax({
            url: '/addComment',
            data: {
                article_id: article_id,
                content: content,
                parent_comment_id: parent_comment_id
            },
            type: 'post',
            dataType: 'json',
            async: false,
            success: function (data) {
                if (data.statusCode == 200) {
                    //评论成功
                    alert(data.msg);
                    //刷新此页面
                    location.reload();
                } else {
                    //评论失败
                    alert(data.msg);
                }
                // location.reload();
            }
        });
    }

    function changefunction(obj) {
        var comment_id = $(obj).prev().val();
        var comment_nickname = $(obj).prev().prev().val();
        console.log(comment_nickname);
        $("#comment_content").val("@" + comment_nickname + ": ");
        $('#commitCommentBtn').attr("onclick", 'commitComment(' + comment_id + ')');
    }

    var waypoint = new Waypoint({
        //控制右下角工具组的显示与隐藏
        element: document.getElementById('waypoint'),
        handler: function(direction) {
            if (direction == 'down') {
                $('#toolbar').show(100);
            } else {
                $('#toolbar').hide(500);
            }
            console.log('Scrolled to waypoint!  ' + direction);
        }
    });
    <!--滚动到顶部的按钮-->
    $('#toTop-button').click(function () {
        $(window).scrollTo(0,500);
    });

    //删除评论的模态框
    function showDeleteCommentModal(comment_id) {
        $("#comment_id").val(comment_id);
        $(".ui.delete.comment.modal").modal("setting", "closable", false);
        $(".ui.delete.comment.modal").modal("show");
    }

    function hideDeleteCommentModal() {
        $(".ui.delete.comment.modal").modal("setting", "closable", true);
        $(".ui.delete.comment.modal").modal("hide");
    }

    function deleteComment() {
        //获取评论id
        var comment_id = $('#comment_id').val();
        //获取当前文章的id
        var article_id = [[${articleDto.id}]];
        $.ajax({
            url:'/delComment',
            data: {
                comment_id: comment_id,
                article_id: article_id
            },
            type: 'post',
            dataType: 'json',
            async: false,
            success: function (data) {
                if (data.statusCode == 200) {
                    //删除评论成功
                    alert(data.msg);
                    //刷新此页面
                    location.reload();
                } else {
                    //删除评论失败
                    alert(data.msg);
                }
                // location.reload();
            }
        });
    }
</script>
</body>
</html>