<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/semantic.min.css">
    <link rel="stylesheet" href="../static/css/my.css">
    <title>关于我</title>
</head>
<body>
<!--导航-->
<nav class="ui attached segment m-padded-tb-mini m-shadow-small">
    <div class="ui container">
        <div class="ui menu secondary stackable">
            <h2 class="ui violet header item"><i class="user secret icon"></i>程序人生</h2>
            <a href="#" class="m-item item m-mobile-hide"><i class="mini home icon"></i>首页</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="mini microphone icon"></i>话题</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="mini tags icon"></i>标签</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="mini user icon"></i>作者</a>
            <a href="#" class="active m-item item m-mobile-hide"><i class="mini user secret icon"></i>关于我</a>
            <div class="right item m-mobile-hide">
                <div class="ui icon input">
                    <input type="text" placeholder="请输入搜索的内容">
                    <i class="search link icon"></i>
                </div>
            </div>
            <div class="right m-item m-mobile-hide menu">
                <div class="item">
                    <a href="#">登录</a>
                </div>
                <div class="ui dropdown item">
                    <div class="text">
                        <img class="ui avatar image" src="https://picsum.photos/id/1033/100/100">
                        李文博
                    </div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a href="#" class="item">我的帖子</a>
                        <a href="#" class="item">注销</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="ui menu toggle icon violet basic button m-right-top m-mobile-show"><i
            class="sidebar icon"></i></a>
</nav>
<!--中间内容-->
<div class="m-container m-padded-tb-big">
    <div class="ui container">
        <div class="ui stackable grid">
            <div class="eleven wide column">
                <div class="ui segment">
                    <img src="https://picsum.photos/id/1035/800/600" alt="" class="ui rounded image">
                </div>
            </div>
            <div class="five wide column">
                <div class="ui top attached segment">
                    <div class="ui header">
                        关于我
                    </div>
                </div>
                <div class="ui attached segment">
                    <p class="m-text-thin">本项目采用SpringBoot+Mybatis搭建后端逻辑</p>
                    <p class="m-text-thin">使用semantic UI+Jquery实现前端页面展示和前端逻辑处理</p>
                </div>
                <div class="ui bottom attached segment">
                    <a href="#" class="ui circular icon button"><i class="github icon"></i></a>
                    <a href="#" class="ui wechat circular icon button"><i class="weixin icon"></i></a>
                    <a href="#" class="ui qq circular icon button" data-content="1125324922"
                       data-position="bottom center"><i class="qq icon"></i></a>
                </div>
                <div class="ui wechat-qr flowing popup transition hidden m-padded-mini">
                    <img src="../static/images/wechat.png" alt="" class="ui rounded image" style="width: 120px">
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>
<!--底部-->
<footer class="ui attached segment">
    <div class="ui center aligned container">
        <p class="m-text-thin m-text-spaced m-opacity-tiny">Copyright ©2019-2020 @LiWenBo 版权所有</p>
    </div>
</footer>


<script src="../static/js/jquery.min.js"></script>
<script src="../static/js/semantic.min.js"></script>
<script>
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });
    $('.wechat').popup({
        popup: $('.wechat-qr'),
        on:'hover',
        position: 'bottom center'
    });

    $('.qq').popup();
</script>
</body>
</html>