<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"  xmlns:shiro="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/semantic.min.css">
    <link rel="stylesheet" href="../static/css/my.css">
    <title>关于我们</title>
</head>
<body>
<!--导航-->
<nav class="ui attached segment m-padded-tb-mini m-shadow-small">
    <div class="ui container">
        <div class="ui menu secondary stackable">
            <h2 class="ui violet header item"><i class="user secret icon"></i>程序人生</h2>
            <a href="../templates/index.html" th:href="@{/index}" class="m-item item m-mobile-hide">
                <i class="mini home icon"></i>首页</a>
            <a href="../templates/types.html" th:href="@{/type/types}" class="m-item item m-mobile-hide">
                <i class="mini microphone icon"></i>话题</a>
            <a href="../templates/tags.html" th:href="@{/tag/tags}" class="m-item item m-mobile-hide">
                <i class="mini tags icon"></i>标签</a>
            <a href="../templates/author.html" th:href="@{/user/author}" class="m-item item m-mobile-hide">
                <i class="mini user icon"></i>作者</a>
            <a href="../templates/about.html" th:href="@{/about}" class="active m-item item m-mobile-hide">
                <i class="mini user secret icon"></i>关于我们</a>
            <div class="right m-item m-mobile-hide menu">
                <div class="item login_btn" th:unless="${user}">
                    <button class="ui login violet button">登录</button>
                    &nbsp
                    <button class="ui register violet button">注册</button>
                </div>
                <div class="ui dropdown item" th:style="'display:' + @{(${user} ? 'inline-block' : 'none')} + ''">
                    <div class="text">
                        <span th:if="${user}">
                            <shiro:hasRole name="user">
                                <img class="ui avatar image" th:src="${user.user_avatar}"
                                     src="https://picsum.photos/id/1033/100/100">
                                <span th:text="${user.nick_name}">李文博</span>
                            </shiro:hasRole>
                        </span>
                    </div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a href="/user/userSetting" class="item">个人资料</a>
                        <a href="/article/article_input" class="item">我要发帖</a>
                        <a href="/article/myArticle" class="item">我的帖子</a>
                        <a href="/logout" class="item">注销</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="ui menu toggle icon violet basic button m-right-top m-mobile-show"><i
            class="sidebar icon"></i></a>
</nav>
<!--中间内容-->
<div class="m-container m-padded-tb-big">
    <div class="ui container">
        <div class="ui stackable grid">
            <div class="eleven wide column">
                <div class="ui segment">
                    <img src="../static/images/aboutImg.jpg" style="width: 800px;height: 500px;" alt="" class="ui rounded image">
                </div>
            </div>
            <div class="five wide column">
                <div class="ui top attached segment">
                    <div class="ui header">
                        关于我
                    </div>
                </div>
                <div class="ui attached segment">
                    <p class="m-text-thin">本项目采用SpringBoot+Mybatis搭建后端逻辑</p>
                    <p class="m-text-thin">使用semantic UI+Jquery实现前端页面展示和前端逻辑处理</p>
                </div>
                <div class="ui bottom attached segment">
                    <a href="https://github.com/li334578/post_bar" target="_blank" class="ui circular icon button"><i class="github icon"></i></a>
                    <a href="#" class="ui wechat circular icon button"><i class="weixin icon"></i></a>
                    <a href="#" class="ui qq circular icon button" data-content="1125324922"
                       data-position="bottom center"><i class="qq icon"></i></a>
                </div>
                <div class="ui wechat-qr flowing popup transition hidden m-padded-mini">
                    <img src="../static/images/wechat.png" alt="" class="ui rounded image" style="width: 120px">
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>
<!--底部-->
<footer class="ui attached segment">
    <div class="ui center aligned container">
        <p class="m-text-thin m-text-spaced m-opacity-tiny">Copyright ©2019-2020 @LiWenBo 版权所有</p>
    </div>
</footer>

<!--登录的模态框-->
<div class="container">
    <div class="ui login modal tiny">
        <div class="header">
            登录
        </div>
        <i class="close icon"></i>
        <div class="content">
            <div class="ui form segment">
                <div class="inline field">
                    <label>账号：</label>
                    <div class="ui input focus">
                        <input type="text" id="login_account_name" name="account_name" placeholder="请输入账号">
                    </div>
                </div>
                <div class="inline field">
                    <label>密码：</label>
                    <div class="ui input focus">
                        <input type="password" id="login_account_password" name="account_password" placeholder="请输入密码">
                    </div>
                    <div class="ui error message"></div>
                </div>
                <div class="actions">
                    <button class="ui violet button" id="login_submit_btn">登录</button>
                    <button class="ui button red" id="login_reset_btn">重置</button>
                </div>
            </div>
            <div class="ui error message login" style="display: none;"></div>
        </div>
    </div>
</div>
<!--注册的模态框-->
<div class="container">
    <div class="ui register modal tiny">
        <div class="header">
            注册
        </div>
        <i class="close icon"></i>
        <div class="content">
            <div class="ui form segment">
                <div class="inline field">
                    <label>昵称：</label>
                    <div class="ui input focus">
                        <input type="text" name="register_nickname" id="register_nickname" placeholder="请输入昵称">
                    </div>
                </div>
                <div class="inline field">
                    <label>账号：</label>
                    <div class="ui input focus">
                        <input type="text" name="register_account_name" id="register_account_name" placeholder="请输入账号">
                    </div>
                </div>
                <div class="inline field">
                    <label>密码：</label>
                    <div class="ui input focus">
                        <input type="password" name="register_account_password" id="register_account_password"
                               placeholder="请输入密码">
                    </div>
                    <div class="ui error message"></div>
                </div>
                <div class="actions">
                    <button class="ui violet button" id="register_submit_btn">注册</button>
                    <button class="ui button red" id="register_reset_btn">重置</button>
                </div>
            </div>
            <div class="ui error message register" style="display: none;"></div>
        </div>
    </div>
</div>
<script src="../static/js/jquery.min.js"></script>
<script src="../static/js/semantic.min.js"></script>
<script>
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });
    $('.ui.dropdown').dropdown();
    $('.ui.login.violet.button').click(function () {
        $(".ui.login.modal").modal("setting", "closable", false);
        $(".ui.login.modal").modal("show");
    });
    $('.ui.register.violet.button').click(function () {
        $(".ui.register.modal").modal("setting", "closable", false);
        $(".ui.register.modal").modal("show");
    });
    $('#login_reset_btn').click(function () {
        $('#login_account_name').val('');
        $('#login_account_password').val('');
        $('.ui.error.message.login').html('');
    });
    $('#login_submit_btn').click(function () {
        //清空提示信息
        $('.ui.error.message.register').html("");
        var flag = true;
        var account_name = $('#login_account_name').val();
        var account_password = $('#login_account_password').val();
        if (account_name == ''){
            $('.ui.error.message.login').append("<p>● 请填写账户名</p>");
            flag = false;
        }
        if (account_password == ''){
            $('.ui.error.message.login').append("<p>● 请填写密码</p>");
            flag = false;
        }
        if (flag) {
            $.ajax({
                url: '/login',
                data: {
                    account_name: account_name,
                    account_password: account_password
                },
                type: 'post',
                dataType: 'json',
                async: 'false',
                success: function (data) {
                    if (data.statusCode == 200) {
                        location.reload();
                    } else {
                        $('.ui.error.message.login').append("<p>● "+data.msg+"</p>");
                    }
                }
            });
        } else {
            $('.ui.error.message.login').css('display','block');
        }
    });
    $('#register_reset_btn').click(function () {
        $('#register_nickname').val('');
        $('#register_account_name').val('');
        $('#register_account_password').val('');
        $('.ui.error.message.register').html('');
    });
    $('#register_submit_btn').click(function () {
        //清空提示信息
        $('.ui.error.message.register').html("");
        var flag = true;
        var register_nickname = $('#register_nickname').val();
        var register_account_name = $('#register_account_name').val();
        var register_account_password = $('#register_account_password').val();
        if (register_nickname == ''){
            $('.ui.error.message.register').append("<p>● 账户昵称不能为空</p>");
            flag = false;
        }else {
            //查询该昵称是否存在
            $.ajax({
                url:'/findNickname',
                data: {
                    nickname: register_nickname
                },
                type: 'post',
                dataType: 'json',
                async: 'false',
                success:function (data) {
                    if (data.statusCode==200){
                        //昵称可用
                    }else {
                        //昵称不可用
                        $('.ui.error.message.register').append("<p>● "+data.msg+"</p>");
                        flag = false;
                    }
                }
            });
        }
        if (register_account_name == ''){
            $('.ui.error.message.register').append("<p>● 账户名不能为空</p>");
            flag = false;
        }else {
            //查询账户名是否存在
            $.ajax({
                url:'/findAccountName',
                data: {
                    account_name: register_account_name
                },
                type: 'post',
                dataType: 'json',
                async: 'false',
                success:function (data) {
                    if (data.statusCode==200){
                        //账户名可用
                    }else {
                        //账户名不可用
                        $('.ui.error.message.register').append("<p>● "+data.msg+"</p>");
                        flag = false;
                    }
                }
            });
        }
        if (register_account_password == ''){
            $('.ui.error.message.register').append("<p>● 账户密码不能为空</p>");
            flag = false;
        }else {
            //密码长度应在4-16位之间
            if (register_account_password.length<=4||register_account_password.length>=16){
                $('.ui.error.message.register').append("<p>● 账户密码长度在4-16位之间</p>");
                flag = false;
            }
        }
        if (flag) {
            $.ajax({
                url: '/register',
                data: {
                    register_nickname: register_nickname,
                    register_account_name: register_account_name,
                    register_account_password: register_account_password
                },
                type: 'post',
                dataType: 'json',
                async: 'false',
                success: function (data) {
                    if (data.statusCode == 200) {
                        window.location.replace('/user/userSetting');
                        alert("注册成功,已为您自动登录");
                    } else {
                        $('.ui.error.message.register').append("<p>●"+data.msg+"</p>");
                    }
                }
            });
        } else {
            $('.ui.error.message.register').css('display','block');
        }
    });
    $('.wechat').popup({
        popup: $('.wechat-qr'),
        on:'hover',
        position: 'bottom center'
    });

    $('.qq').popup();
</script>
</body>
</html>