<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/semantic.min.css">
    <link rel="stylesheet" href="../static/css/my.css">
    <link rel="shortcut icon" href="../static/favicon.ico" type="image/x-icon">
    <link rel="icon" href="../static/favicon.ico" type="image/x-icon">
    <title>作者</title>
</head>
<body>
<!--导航-->
<nav class="ui attached segment m-padded-tb-mini m-shadow-small">
    <div class="ui container">
        <div class="ui menu secondary stackable">
            <h2 class="ui violet header item"><i class="user secret icon"></i>管理后台</h2>
            <a href="adminForums.html" th:href="@{/admin/index}" class="m-item item m-mobile-hide"><i
                    class="mini home icon"></i>帖子</a>
            <a href="adminTypes.html" th:href="@{/admin/types}" class="m-item item m-mobile-hide"><i
                    class="mini microphone icon"></i>话题</a>
            <a href="adminTags.html" th:href="@{/admin/tags}" class="m-item item m-mobile-hide"><i
                    class="mini tags icon"></i>标签</a>
            <a href="adminAuthor.html" th:href="@{/admin/authors}" class="active m-item item m-mobile-hide"><i
                    class="mini user icon"></i>作者</a>
            <div class="right m-item m-mobile-hide menu" th:if="${user}">
                <div class="ui item">
                    <div class="text">
                        <span style="color: blueviolet">管理员：<span th:text="${user.nick_name}">李文博</span></span>
                        <img class="ui avatar image" th:src="${user.user_avatar}" src="https://picsum.photos/id/1033/100/100">
                        <span style="margin-left: 5px"><a href="/admin/logout">注销</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="ui menu toggle icon violet basic button m-right-top m-mobile-show"><i class="sidebar icon"></i></a>
</nav>
<!--中间内容-->
<div class="m-container-small m-padded-tb-big">
    <div class="ui container">
        <div class="ui stackable grid">
            <!--头部-->
            <!--头部-->
            <div class="ui top attached segment">
                <div class="ui middle aligned two column grid">
                    <div class="column">
                        <h3 class="ui violet header">用户列表</h3>
                    </div>
                    <div class="right aligned column">
                        当前页共<h3 class="ui orange header m-inline-block m-text-thin" th:text="${pageInfo.size}">
                        15</h3>个用户
                    </div>
                </div>
            </div>
            <div class="ui attached violet segment">
                <div class="ui mini middle aligned five column grid">
                    <div class="center aligned column">
                        <h5 class="ui violet header">用户姓名</h5>
                    </div>
                    <div class="center aligned column">
                        <h5 class="ui violet header">发文数</h5>
                    </div>
                    <div class="center aligned column">
                        <h5 class="ui violet header">评论数</h5>
                    </div>
                    <div class="center aligned column">
                        <h5 class="ui violet header">点赞数</h5>
                    </div>
                    <div class="center aligned column">
                        <h5 class="ui violet header">点踩数</h5>
                    </div>
                </div>
            </div>
            <!--作者列表-->
            <div class="ui attached violet segment">
                <div class="ui mini middle aligned five column grid" th:each="authorDto : ${authorDtoList}">
                    <div class="center aligned column">
                        <img class="ui avatar image" th:src="${authorDto.user_avatar}" src="https://picsum.photos/id/1033/100/100">
                        <a href="#" th:href="'/admin/author_details/'+${authorDto.id}" th:text="${authorDto.nick_name}">李文博</a>
                    </div>
                    <div class="center aligned column">
                        共发布<h3 class="ui orange header m-inline-block m-text-thin"
                               th:text="${authorDto.total_published_article_num}">15</h3>篇
                    </div>
                    <div class="center aligned column">
                        共评论<h3 class="ui orange header m-inline-block m-text-thin"
                               th:text="${authorDto.total_comment_num}">15</h3>次
                    </div>
                    <div class="center aligned column">
                        共点赞<h3 class="ui orange header m-inline-block m-text-thin"
                               th:text="${authorDto.total_approval_num}">15</h3>次
                    </div>
                    <div class="center aligned column">
                        共点踩<h3 class="ui orange header m-inline-block m-text-thin"
                               th:text="${authorDto.total_trample_num}">15</h3>次
                    </div>
                </div>
            </div>
            <!--底部页码内容-->
            <div class="ui center aligned bottom attached segment">
                <div class="ui buttons">
                    <li th:if="${pageInfo.hasPreviousPage}">
                        <a th:href="'/admin/authors?pageNum='+${pageInfo.pageNum-1}" class="ui basic violet button">上一页</a>
                    </li>
                    <li th:if="!${pageInfo.hasPreviousPage}">
                        <button class="ui basic disabled violet button">上一页</button>
                    </li>
                    <li th:if="${pageInfo.pageNum<=3&&pageInfo.pages!=0}" th:each="page : ${#numbers.sequence(1,pageInfo.pages)}">
                            <span th:if="${pageInfo.pageNum==page}">
                                <a th:href="'/admin/authors?pageNum='+${page}" class="ui violet button" th:text="${page}">1</a>
                            </span>
                        <span th:if="${pageInfo.pageNum!=page}">
                                <a th:href="'/admin/authors?pageNum='+${page}" class="ui basic violet button" th:text="${page}">1</a>
                            </span>
                    </li>
                    <li th:if="${pageInfo.pageNum>3&&pageInfo.pageNum+2<=pageInfo.pages}"
                        th:each="page : ${#numbers.sequence(pageInfo.pageNum-2,pageInfo.pageNum+2)}">
                            <span th:if="${pageInfo.pageNum==page}">
                                <a th:href="'/admin/authors?pageNum='+${page}" class="ui violet button" th:text="${page}">1</a>
                            </span>
                        <span th:if="${pageInfo.pageNum!=page}">
                                <a th:href="'/admin/authors?pageNum='+${page}" class="ui basic violet button" th:text="${page}">1</a>
                            </span>
                    </li>
                    <li th:if="${pageInfo.pageNum>3&&pageInfo.pageNum+2>pageInfo.pages}"
                        th:each="page : ${#numbers.sequence(pageInfo.pageNum-2,pageInfo.pages)}">
                            <span th:if="${pageInfo.pageNum==page}">
                                <a th:href="'/admin/authors?pageNum='+${page}" class="ui violet button" th:text="${page}">1</a>
                            </span>
                        <span th:if="${pageInfo.pageNum!=page}">
                                <a th:href="'/admin/authors?pageNum='+${page}" class="ui basic violet button" th:text="${page}">1</a>
                            </span>
                    </li>
                    <li th:if="${pageInfo.hasNextPage}">
                        <a th:href="'/admin/authors?pageNum='+${pageInfo.pageNum+1}" class="ui basic violet button">下一页</a>
                    </li>
                    <li th:if="!${pageInfo.hasNextPage}">
                        <button class="ui basic disabled violet button">下一页</button>
                    </li>
                </div>
            </div>
        </div>
    </div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>


<!--底部-->
<footer class="ui attached segment">
    <div class="ui center aligned container">
        <p class="m-text-thin m-text-spaced m-opacity-tiny">Copyright ©2019-2020 @LiWenBo 版权所有</p>
    </div>
</footer>
</body>
</html>