<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:shiro="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/semantic.min.css" th:href="@{../../static/css/semantic.min.css}">
    <link rel="stylesheet" href="../static/css/my.css" th:href="@{../../static/css/my.css}">
    <title>分类</title>
</head>
<body>
<!--导航-->
<nav class="ui attached segment m-padded-tb-mini m-shadow-small">
    <div class="ui container">
        <div class="ui menu secondary stackable">
            <h2 class="ui violet header item"><i class="user secret icon"></i>程序人生</h2>
            <a href="../templates/index.html" th:href="@{/index}" class="m-item item m-mobile-hide">
                <i class="mini home icon"></i>首页</a>
            <a href="../templates/types.html" th:href="@{/type/types}" class="active m-item item m-mobile-hide">
                <i class="mini microphone icon"></i>话题</a>
            <a href="../templates/tags.html" th:href="@{/tag/tags}" class="m-item item m-mobile-hide">
                <i class="mini tags icon"></i>标签</a>
            <a href="../templates/author.html" th:href="@{/user/author}" class="m-item item m-mobile-hide">
                <i class="mini user icon"></i>作者</a>
            <a href="../templates/about.html" th:href="@{/about}" class="m-item item m-mobile-hide">
                <i class="mini user secret icon"></i>关于我们</a>

            <div class="right m-item m-mobile-hide menu">
                <div class="item login_btn" th:unless="${user}">
                    <button class="ui login violet button">登录</button>
                    &nbsp
                    <button class="ui register violet button">注册</button>
                    &nbsp
                    <a th:href="@{/user/changePwdPage}" href="change_password.html"> 忘记密码？</a>
                </div>
                <div class="ui dropdown item" th:style="'display:' + @{(${user} ? 'inline-block' : 'none')} + ''">
                    <div class="text">
                        <span th:if="${user}">
                            <shiro:hasRole name="user">
                                <img class="ui avatar image" th:src="${user.user_avatar}"
                                     src="https://picsum.photos/id/1033/100/100">
                                <span th:text="${user.nick_name}">李文博</span>
                            </shiro:hasRole>
                        </span>
                    </div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a href="/user/userSetting" class="item">个人资料</a>
                        <a href="/article/article_input" class="item">我要发帖</a>
                        <a href="/article/myArticle" class="item">我的帖子</a>
                        <a href="/user/changePwdPage" class="item">修改密码</a>
                        <a href="/logout" class="item">注销</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="ui menu toggle icon violet basic button m-right-top m-mobile-show"><i
            class="sidebar icon"></i></a>
</nav>
<!--中间内容-->
<div class="m-container-small m-padded-tb-big">
    <div class="ui container">
        <!--头部-->
        <div class="ui top attached segment">
            <div class="ui middle aligned two column grid">
                <div class="column">
                    <h3 class="ui violet header">话题分类</h3>
                </div>
                <div class="right aligned column">
                    共<h3 class="ui orange header m-inline-block m-text-thin" th:text="${typeTotalNum}">15</h3>个话题
                </div>
            </div>
        </div>
        <!--话题列表-->
        <div class="ui attached segment m-padded-tb-large">
            <div class="ui labeled button m-margin-tb-tiny" th:each="typeDto : ${typeDtoList}">
                <a th:href="'/type/findArticleByTypeId/'+${typeDto.id}" th:if="${typeDto.id == currentTypeId}"
                   class="ui basic violet button" th:text="${typeDto.type_name}">思考与感悟</a>
                <div class="ui basic violet left pointing label" th:if="${typeDto.id == currentTypeId}"
                     th:text="${typeDto.total_num}">24</div>
                <a th:href="'/type/findArticleByTypeId/'+${typeDto.id}" th:unless="${typeDto.id == currentTypeId}"
                   class="ui basic button" th:text="${typeDto.type_name}">思考与感悟</a>
                <div class="ui basic left pointing label" th:unless="${typeDto.id == currentTypeId}"
                     th:text="${typeDto.total_num}">24</div>
            </div>
        </div>
        <!--中间文章内容-->
        <div class="ui attached segment">
            <div class="ui padded vertical segment m-padded-tb-large" th:each="articleDto : ${articleDtoList}">
                <div class="ui mobile reversed stackable grid">
                    <div class="eleven wide column">
                        <a href="article_details.html" th:href="'/article/article_details/'+${articleDto.id}"><h3
                                class="ui header" th:text="${articleDto.title}">
                            几米经典语录</h3>
                            <p class="m-text" th:text="${articleDto.description}">
                                1.在这个熟悉而陌生的城市中，无助地寻找一个陌生而熟悉的身影。
                                2.但是冬天总是会过去，春天总是会来。
                                3.心情无缘无故的低落，对自己的孤单，感到有些莫名的哀伤。
                            </p>
                        </a>
                        <div class="ui stackable grid">
                            <div class="thirteen wide column">
                                <div class="ui mini horizontal link list">
                                    <div class="item">
                                        <img src="https://picsum.photos/id/1033/100/100" alt=""
                                             class="ui avatar image" th:src="'../'+${articleDto.user_avatar}">
                                        <div class="content">
                                            <div class="header">
                                                <a href="#"
                                                   th:href="'/user/author_details/'+${articleDto.user_id}"
                                                   th:text="${articleDto.author_name}">李文博</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <i class="calendar icon"></i>
                                        <span th:text="${articleDto.create_time}">2019-10-02</span>
                                    </div>
                                </div>
                                <div class="ui mini horizontal link list">
                                    <div class="item">
                                        <i class="eye icon"></i>
                                        <span th:text="${articleDto.browse_volume}">2333</span>
                                    </div>
                                    <div class="item">
                                        <i class="comment alternate outline icon"></i>
                                        <span th:text="${articleDto.comment}">15</span>
                                    </div>
                                    <div class="item">
                                        <i class="thumbs up icon"></i>
                                        <span th:text="${articleDto.approval_num}">10</span>
                                    </div>
                                    <div class="item">
                                        <i class="thumbs down icon"></i>
                                        <span th:text="${articleDto.trample_num}">1</span>
                                    </div>
                                </div>
                            </div>
                            <div class="right aligned three wide column">
                                <a href="#" th:href="'/type/findArticleByTypeId/'+${articleDto.type_id}"
                                   target="_blank" class="ui violet basic label m-padded-mini"
                                   th:text="${articleDto.type_name}">个人感悟</a>
                            </div>
                        </div>
                    </div>
                    <div class="five wide column">
                        <a href="#" target="_blank">
                            <img th:src="'../'+${articleDto.first_picture}" width="235px" height="130px"
                                 src="https://picsum.photos/id/1033/800/450" alt=""
                                 class="ui rounded image">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!--底部页码内容-->
        <div class="ui center aligned bottom attached segment" th:unless="${type_id}">
            <div class="ui buttons">
                <li th:if="${pageInfo.hasPreviousPage}">
                    <a th:href="'/type/types?pageNum='+${pageInfo.pageNum-1}" class="ui basic violet button">上一页</a>
                </li>
                <li th:if="!${pageInfo.hasPreviousPage}">
                    <button class="ui basic disabled violet button">上一页</button>
                </li>
                <li th:if="${pageInfo.pageNum<=3}" th:each="page : ${#numbers.sequence(1,pageInfo.pages)}">
                            <span th:if="${pageInfo.pageNum==page}">
                                <a th:href="'/type/types?pageNum='+${page}" class="ui violet button" th:text="${page}">1</a>
                            </span>
                    <span th:if="${pageInfo.pageNum!=page}">
                                <a th:href="'/type/types?pageNum='+${page}" class="ui basic violet button" th:text="${page}">1</a>
                            </span>
                </li>
                <li th:if="${pageInfo.pageNum>3&&pageInfo.pageNum+2<=pageInfo.pages}"
                    th:each="page : ${#numbers.sequence(pageInfo.pageNum-2,pageInfo.pageNum+2)}">
                            <span th:if="${pageInfo.pageNum==page}">
                                <a th:href="'/type/types?pageNum='+${page}" class="ui violet button" th:text="${page}">1</a>
                            </span>
                    <span th:if="${pageInfo.pageNum!=page}">
                                <a th:href="'/type/types?pageNum='+${page}" class="ui basic violet button" th:text="${page}">1</a>
                            </span>
                </li>
                <li th:if="${pageInfo.pageNum>3&&pageInfo.pageNum+2>pageInfo.pages}"
                    th:each="page : ${#numbers.sequence(pageInfo.pageNum-2,pageInfo.pages)}">
                            <span th:if="${pageInfo.pageNum==page}">
                                <a th:href="'/type/types?pageNum='+${page}" class="ui violet button" th:text="${page}">1</a>
                            </span>
                    <span th:if="${pageInfo.pageNum!=page}">
                                <a th:href="'/type/types?pageNum='+${page}" class="ui basic violet button" th:text="${page}">1</a>
                            </span>
                </li>
                <li th:if="${pageInfo.hasNextPage}">
                    <a th:href="'/type/types?pageNum='+${pageInfo.pageNum+1}" class="ui basic violet button">下一页</a>
                </li>
                <li th:if="!${pageInfo.hasNextPage}">
                    <button class="ui basic disabled violet button">下一页</button>
                </li>
            </div>
        </div>
        <div class="ui center aligned bottom attached segment" th:if="${type_id}">
            <div class="ui buttons">
                <li th:if="${pageInfo.hasPreviousPage}">
                    <a th:href="'/type/findArticleByTypeId/'+${type_id}+'?pageNum='+${pageInfo.pageNum-1}" class="ui basic violet button">上一页</a>
                </li>
                <li th:if="!${pageInfo.hasPreviousPage}">
                    <button class="ui basic disabled violet button">上一页</button>
                </li>
                <li th:if="${pageInfo.pageNum<=3}" th:each="page : ${#numbers.sequence(1,pageInfo.pages)}">
                            <span th:if="${pageInfo.pageNum==page}">
                                <a th:href="'/type/findArticleByTypeId/'+${type_id}+'?pageNum='+${page}" class="ui violet button" th:text="${page}">1</a>
                            </span>
                    <span th:if="${pageInfo.pageNum!=page}">
                                <a th:href="'/type/findArticleByTypeId/'+${type_id}+'?pageNum='+${page}" class="ui basic violet button" th:text="${page}">1</a>
                            </span>
                </li>
                <li th:if="${pageInfo.pageNum>3&&pageInfo.pageNum+2<=pageInfo.pages}"
                    th:each="page : ${#numbers.sequence(pageInfo.pageNum-2,pageInfo.pageNum+2)}">
                            <span th:if="${pageInfo.pageNum==page}">
                                <a th:href="'/type/findArticleByTypeId/'+${type_id}+'?pageNum='+${page}" class="ui violet button" th:text="${page}">1</a>
                            </span>
                    <span th:if="${pageInfo.pageNum!=page}">
                                <a th:href="'/type/findArticleByTypeId/'+${type_id}+'?pageNum='+${page}" class="ui basic violet button" th:text="${page}">1</a>
                            </span>
                </li>
                <li th:if="${pageInfo.pageNum>3&&pageInfo.pageNum+2>pageInfo.pages}"
                    th:each="page : ${#numbers.sequence(pageInfo.pageNum-2,pageInfo.pages)}">
                            <span th:if="${pageInfo.pageNum==page}">
                                <a th:href="'/type/findArticleByTypeId/'+${type_id}+'?pageNum='+${page}" class="ui violet button" th:text="${page}">1</a>
                            </span>
                    <span th:if="${pageInfo.pageNum!=page}">
                                <a th:href="'/type/findArticleByTypeId/'+${type_id}+'?pageNum='+${page}" class="ui basic violet button" th:text="${page}">1</a>
                            </span>
                </li>
                <li th:if="${pageInfo.hasNextPage}">
                    <a th:href="'/type/findArticleByTypeId/'+${type_id}+'?pageNum='+${pageInfo.pageNum+1}" class="ui basic violet button">下一页</a>
                </li>
                <li th:if="!${pageInfo.hasNextPage}">
                    <button class="ui basic disabled violet button">下一页</button>
                </li>
            </div>
        </div>
    </div>
</div>
<!--登录的模态框-->
<div class="container">
    <div class="ui login modal tiny">
        <div class="header">
            登录
        </div>
        <i class="close icon"></i>
        <div class="content">
            <div class="ui form segment">
                <div class="inline field">
                    <label>账号：</label>
                    <div class="ui input focus">
                        <input type="text" id="login_account_name" name="account_name" placeholder="请输入账号">
                    </div>
                </div>
                <div class="inline field">
                    <label>密码：</label>
                    <div class="ui input focus">
                        <input type="password" id="login_account_password" name="account_password" placeholder="请输入密码">
                    </div>
                    <div class="ui error message"></div>
                </div>
                <div class="actions">
                    <button class="ui violet button" id="login_submit_btn">登录</button>
                    <button class="ui button red" id="login_reset_btn">重置</button>
                </div>
            </div>
            <div class="ui error message login hidden"></div>
        </div>
    </div>
</div>
<!--注册的模态框-->
<div class="container">
    <div class="ui register modal tiny">
        <div class="header">
            注册
        </div>
        <i class="close icon"></i>
        <div class="content">
            <div class="ui form segment">
                <div class="inline field">
                    <label>昵称：</label>
                    <div class="ui input focus">
                        <input type="text" name="register_nickname" id="register_nickname" placeholder="请输入昵称">
                    </div>
                </div>
                <div class="inline field">
                    <label>邮箱：</label>
                    <div class="ui input focus">
                        <input type="text" name="register_email" id="register_email" placeholder="请输入邮箱">
                    </div>
                </div>
                <div class="inline field">
                    <label>账号：</label>
                    <div class="ui input focus">
                        <input type="text" name="register_account_name" id="register_account_name" placeholder="请输入账号">
                    </div>
                </div>
                <div class="inline field">
                    <label>密码：</label>
                    <div class="ui input focus">
                        <input type="password" name="register_account_password" id="register_account_password"
                               placeholder="请输入密码">
                    </div>
                    <div class="ui error message"></div>
                </div>
                <div class="actions">
                    <button class="ui violet button" id="register_submit_btn">注册</button>
                    <button class="ui button red" id="register_reset_btn">重置</button>
                </div>
            </div>
            <div class="ui error message register hidden"></div>
        </div>
    </div>
</div>
<!--底部-->
<footer class="ui attached segment">
    <div class="ui center aligned container">
        <p class="m-text-thin m-text-spaced m-opacity-tiny">Copyright ©2019-2020 @LiWenBo 版权所有</p>
    </div>
</footer>


<script src="../static/js/jquery.min.js" th:src="@{../../static/js/jquery.min.js}"></script>
<script src="../static/js/semantic.min.js" th:src="@{../../static/js/semantic.min.js}"></script>
<script>
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });
    $('.ui.dropdown').dropdown();
    $('.ui.login.violet.button').click(function () {
        $(".ui.login.modal").modal("setting", "closable", false);
        $(".ui.login.modal").modal("show");
    });
    $('.ui.register.violet.button').click(function () {
        $(".ui.register.modal").modal("setting", "closable", false);
        $(".ui.register.modal").modal("show");
    });
    $('#login_reset_btn').click(function () {
        $('#login_account_name').val('');
        $('#login_account_password').val('');
        $('.ui.error.message.login').addClass("hidden");
    });
    $('#login_submit_btn').click(function () {
        //清空提示信息
        $('.ui.error.message.login').html("");
        $('.ui.error.message.login').addClass("hidden");
        var flag = true;
        var account_name = $('#login_account_name').val();
        var account_password = $('#login_account_password').val();
        if (account_name == ''){
            $('.ui.error.message.login').removeClass("hidden");
            $('.ui.error.message.login').append("<p>● 请填写账户名</p>");
            flag = false;
        }
        if (account_password == ''){
            $('.ui.error.message.login').removeClass("hidden");
            $('.ui.error.message.login').append("<p>● 请填写密码</p>");
            flag = false;
        }
        if (flag) {
            $.ajax({
                url: '/login',
                data: {
                    account_name: account_name,
                    account_password: account_password
                },
                type: 'post',
                dataType: 'json',
                async: 'false',
                success: function (data) {
                    if (data.statusCode == 200) {
                        location.reload();
                    } else {
                        $('.ui.error.message.login').removeClass("hidden");
                        $('.ui.error.message.login').append("<p>● "+data.msg+"</p>");
                    }
                }
            });
        }
    });
    $('#register_reset_btn').click(function () {
        $('#register_nickname').val('');
        $('#register_email').val('');
        $('#register_account_name').val('');
        $('#register_account_password').val('');
        $('.ui.error.message.register').addClass("hidden");
    });
    $('#register_submit_btn').click(function () {
        //清空提示信息
        $('.ui.error.message.register').html("");
        $('.ui.error.message.register').addClass("hidden");
        var flag = true;
        var register_nickname = $('#register_nickname').val();
        var register_account_name = $('#register_account_name').val();
        var register_account_password = $('#register_account_password').val();
        var register_email = $('#register_email').val();
        if (register_nickname == ''){
            $('.ui.error.message.register').removeClass("hidden");
            $('.ui.error.message.register').append("<p>● 账户昵称不能为空</p>");
            flag = false;
        }else {
            //查询该昵称是否存在
            $.ajax({
                url:'/findNickname',
                data: {
                    nickname: register_nickname
                },
                type: 'post',
                dataType: 'json',
                async: 'false',
                success:function (data) {
                    if (data.statusCode==200){
                        //昵称可用
                    }else {
                        //昵称不可用
                        $('.ui.error.message.register').removeClass("hidden");
                        $('.ui.error.message.register').append("<p>● "+data.msg+"</p>");
                        flag = false;
                    }
                }
            });
        }
        if (register_email == ''){
            $('.ui.error.message.register').removeClass("hidden");
            $('.ui.error.message.register').append("<p>● 邮箱不能为空</p>");
            flag = false;
        }else {
            var mailbox_reg = /^\w+([-+.]\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$/;
            if (mailbox_reg.test(register_email)){
                //邮箱格式正确
            }else {
                //邮箱格式不正确
                $('.ui.error.message.register').removeClass("hidden");
                $('.ui.error.message.register').append("<p>● 邮箱格式不正确</p>");
                flag = false;
            }
        }
        if (register_account_name == ''){
            $('.ui.error.message.register').removeClass("hidden");
            $('.ui.error.message.register').append("<p>● 账户名不能为空</p>");
            flag = false;
        }else {
            //查询账户名是否存在
            $.ajax({
                url:'/findAccountName',
                data: {
                    account_name: register_account_name
                },
                type: 'post',
                dataType: 'json',
                async: 'false',
                success:function (data) {
                    if (data.statusCode==200){
                        //账户名可用
                    }else {
                        //账户名不可用
                        $('.ui.error.message.register').removeClass("hidden");
                        $('.ui.error.message.register').append("<p>● "+data.msg+"</p>");
                        flag = false;
                    }
                }
            });
        }
        if (register_account_password == ''){
            $('.ui.error.message.register').removeClass("hidden");
            $('.ui.error.message.register').append("<p>● 账户密码不能为空</p>");
            flag = false;
        }else {
            //密码长度应在4-16位之间
            if (register_account_password.length<=4||register_account_password.length>=16){
                $('.ui.error.message.register').removeClass("hidden");
                $('.ui.error.message.register').append("<p>● 账户密码长度在4-16位之间</p>");
                flag = false;
            }
        }
        if (flag) {
            $.ajax({
                url: '/register',
                data: {
                    register_nickname: register_nickname,
                    register_account_name: register_account_name,
                    register_account_password: register_account_password,
                    register_email:register_email
                },
                type: 'post',
                dataType: 'json',
                async: 'false',
                success: function (data) {
                    if (data.statusCode == 200) {
                        window.location.replace('/user/userSetting');
                        alert("注册成功,已为您自动登录");
                    } else {
                        $('.ui.error.message.register').removeClass("hidden");
                        $('.ui.error.message.register').append("<p>●"+data.msg+"</p>");
                    }
                }
            });
        } else {
            $('.ui.error.message.register').removeClass("hidden");
        }
    });
</script>
</body>
</html>